.container {
	height: 5rem;
	display: grid;
	grid-template-columns: 12rem auto;
	grid-template-areas: "left right";
}

.left {
	grid-area: left;
	justify-content: flex-start;
}

.right {
	grid-area: right;
	justify-content: flex-start;
	padding-inline-start: 1rem;
}