.container {
	display: flex;
	height: 4rem;
	align-items: center;

	&:hover .actions {
		display: flex;
	}

	.left {
		width: 55rem;
		border-right: var(--border);
	}

	.actions {
		display: none;
		padding: 0 1rem;

		button+button {
			margin-inline-start: 1rem;
		}
	}

	.days {
		display: flex;
	}
}