.react-daterange-picker__wrapper {
  border-width: 0;
  border-bottom-width: 0.1rem;
  border-color: rgb(147, 147, 147);
}

.react-daterange-picker__inputGroup {
  height: auto;
}

.react-daterange-picker__button {
  height: 2rem;
  display: grid;
  place-items: center;
}

.react-daterange-picker__button span {
  display: flex;
}

.react-daterange-picker__button span svg {
  font-size: inherit;
}

.react-calendar__tile--active {
  background: #1976d2;
}

.react-calendar__tile--active abbr {
  color: #fff;
}
