.center {
	width: 80%;
	max-width: 80rem;
}

.message {
	height: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.title {
	white-space: nowrap;
	margin-inline-end: 1rem !important;
	padding-block-start: .3rem;
}