.container {
	height: 100%;
	width: 100%;

	.eng-header {
		height: 6.5rem;
		width: 55rem;
	}

	// display: grid;

	// grid-template-columns: 50rem auto;
	// grid-template-rows: 10rem calc(100% - 15rem) 5rem;
	// grid-template-areas:
	// 	"hLeft hRight"
	// 	"left right"
	// 	"foot .";

	// .left {
	// 	grid-area: left;
	// }

	// .header-left {
	// 	grid-area: hLeft;
	// }

	// .header-right {
	// 	grid-area: hRight;
	// }

	// footer {
	// 	grid-area: foot;
	// }
}